:root{
    --mob:silver;
    --tab:green;
    --laptop:blue;
    --desktop:red;

}
*{
    margin : 0px;
    padding : 0px;
    box-sizing : border-box; 
}
  
body{
  font-size : 130px;
  color:black;
}
.box{
  display : grid;
  place-items : center;  
  height : 100vh;
  background-color: orange;
  }
#size {
    position: absolute;
  
    /* positioning screen size below our main text */
    
    top : 20%;
    left: 50%;
  
    transform: translateX(-50%);
  
}

.text1::before{
  content:"";
}
@media screen and (max-width : 675px){
      .text1::before {
            display: block;
            content:"Thor";
        }
      .box{
        background-color: var(--mob);
      }
}
@media screen and (min-width : 676px) and (max-width : 767px){
    .text1::before {
        display: block;
        
        content:"Iron man";
    }
    .box{background-color: var(--tab);}
}
@media screen and (min-width : 768px) and (max-width : 1399px){
    .text1::before {
        display: block;
        
        content:"Hulk";
    }
    .box{background-color: var(--laptop);} 
}
@media screen and (min-width : 1400px){
  
    .text1::before {
        display: block;
        
        content:"Captain america";
    }
    .box{background-color: var(--desktop);}    
}
